/* Style your dropdown below! */
body {
    font-family: 'Open Sans';
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width:30%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    cursor:pointer;
    padding: 20px;
    border: 1px solid gray;
}
img {
    width: 20px;
    transform: rotate(180deg);
    padding-right: 10px;
    
}

#toggle {
    background-color: #ff6767;
    padding: 20px;
    border: 1px solid gray;
    color: white;
}